@font-face {
    font-family: 'omori';
    src: url(/fonts/OMORI_NORMAL.ttf);
    }

@font-face {
    font-family: 'omori_spooky';
    src: url(/fonts/OMORI_SPOOKY.ttf);
    }


body {
  background-color: white;
  color: black;
  background-image: url('/blog/images/stardew_valley.jpg');
  background-size: cover;
  background-position: top;
  font-family: 'omori', monospace;
  font-size: 2em; /* Try 0.5em, 0.75em, or 1em for crisp pixel look */
    }

.blog-entry {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(90, 167, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

p {
  text-indent: .5em;
}

.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  
}

.collage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}

@keyframes rainbow {
  0% { color: hsl(0, 100%, 50%); }
  16% { color: hsl(60, 100%, 50%); }
  33% { color: hsl(120, 100%, 50%); }
  50% { color: hsl(180, 100%, 50%); }
  66% { color: hsl(240, 100%, 50%); }
  83% { color: hsl(300, 100%, 50%); }
  100% { color: hsl(360, 100%, 50%); }
}

.rainbow-text {
  font-weight: bold;
  animation: rainbow 3s infinite linear;
}
